<style>
@import "bulma/css/bulma";
@import "@creativebulma/bulma-divider";
</style>

<script setup>
import 'https://kit.fontawesome.com/4886022641.js'
useHead({
    htmlAttrs: {
        lang: 'es'
    },
    titleTemplate: (titleChunk) => {
        return titleChunk ? `${titleChunk} - Vacunas TTPS` : 'Vacunas TTPS';
    },
    viewport: 'width=device-width, initial-scale=1, maximum-scale=5',
    charset: 'utf-8',
    meta: [
        { name: 'description', content: 'Sitio para pruebas de Nuxt y Supabase' }
    ],
    // link: [
    //     {
    //         rel: 'stylesheet',
    //         href: 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    //     }
    // ],
    // script: [
    //     {
    //         src: 'https://kit.fontawesome.com/4886022641.js',
    //         body: true
    //     }
    // ]
})
</script>

<template>
    <NuxtPage />
</template>