<script setup lang="ts">
const user = useSupabaseUser()

const { auth } = useSupabaseClient()

const username = computed(() => user.value?.user_metadata.name)
const isMenuShow = ref(false)

async function logout() {
  await auth.signOut().then(() => {
    navigateTo('/login')
  })
}
</script>

<template>
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <div class="content">
              <h1 class="has-text-white">Vacunas TTPS</h1>
            </div>
          </a>
          <span class="navbar-burger" @click="isMenuShow = !isMenuShow" :class="{'is-active': isMenuShow}" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu" :class="{'is-active': isMenuShow}">
          <div class="navbar-end">
            <a class="navbar-item">
              {{ username }}
            </a>
            <span class="navbar-item">
              <NuxtLink class="button is-primary is-inverted" @click="logout">
                <span>Logout</span>
              </NuxtLink>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>