<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <slot />
            </div>
        </div>
    </section>
</template>