<template>
    <section class="hero is-success is-fullheight">
        <AppHeader />
        <div class="hero-body">
            <div class="container has-text-centered">
                <slot />
            </div>
        </div>
        <AppFooter />
    </section>
</template>