<script setup lang="ts">
import type { RealtimeSubscription } from '@supabase/supabase-js'
import { definitions } from "../types/supabase"
definePageMeta({
    middleware: 'auth'
})
const client = useSupabaseClient()
let subscription: RealtimeSubscription
// Fetch collaborators and get the refresh method provided by useAsyncData
const { data: tasks, refresh: refreshTasks } = await useAsyncData('tasks', async () => {
    const { data } = await client.from<definitions['tasks']>('tasks').select('id, title, completed')
    return data
})
// Once page is mounted, listen to changes on the `collaborators` table and refresh collaborators when receiving event
onMounted(() => {
    subscription = client.from('tasks').on('*', () => {
        refreshTasks()
    }).subscribe()
})
// Don't forget to unsubscribe when user left the page
onUnmounted(() => {
    client.removeSubscription(subscription)
})
</script>
    
<template>
    <NuxtLayout>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Completado</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task of tasks">
                    <th>{{ task.id }}</th>
                    <th>{{ task.title }}</th>
                    <th>{{ task.completed }}</th>
                </tr>
            </tbody>
        </table>
    </NuxtLayout>
</template>