<script setup>
definePageMeta({
  middleware: ['guest'],
})

const user = useSupabaseUser();
const { auth } = useSupabaseClient()

watchEffect(() => {
  if (user.value) {
    navigateTo('/')
  }
})

const loading = ref(false)
const email = ref('')
const password = ref('')
const isSignUp = ref(false)

const redirectTo = ref((process.client) ? `${window.location.origin}/confirm` : null)

const signUp = async () => {
  try {
    loading.value = true
    const { user, error } = await auth.signUp({
      email: email.value,
      password: password.value,
    })
    if (user) alert('Consultá tu casilla de correo para obtener el link')
  } catch (error) {
    alert(error.error_description || error.message)
  } finally {
    loading.value = false
  }
}

const login = async (provider) => {
  try {
    loading.value = true
    const { error } = await auth.signIn(provider, { redirectTo: redirectTo.value })
    if (error) throw error
  } catch (error) {
    alert(error.error_description || error.message)
  } finally {
    loading.value = false
  }
}

const loginWithEmail = async () => await login({ email: email.value, password: password.value })

</script>

<template>
  <NuxtLayout name="blank">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card has-background-success">
            <div class="card-content is-primary">
              <p class="title has-text-light">
                <span v-if="isSignUp"> Sign up </span>
                <span v-else> Log in </span>
              </p>
              <div class="buttons has-addons is-centered">
                <button class="button" @click="login({ provider: 'github' })">
                  <span class="icon">
                    <i class="fa-brands fa-github"></i>
                  </span>
                  <span>Github</span>
                </button>
                <button class="button" @click="login({ provider: 'google' })">
                  <span class="icon">
                    <i class="fa-brands fa-google"></i>
                  </span>
                  <span>Google</span>
                </button>
              </div>

              <div class="divider has-text-light">OR</div>

              <form @submit.prevent="(() => isSignUp ? signUp() : loginWithEmail())">
                <div class="field">
                  <div class="control has-icons-left">
                    <input v-model="email" type="email" placeholder="Email" class="input" required>
                    <span class="icon is-small is-left">
                      <icon class="fa fa-envelope" />
                    </span>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left">
                    <input v-model="password" type="password" placeholder="Password" class="input" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <button class="button" :class="{ 'is-loading': loading }">
                    <span v-if="isSignUp"> Sign up </span>
                    <span v-else> Log in </span>
                  </button>
                </div>
              </form>

              <div class="divider has-text-light"></div>

              <div class="field">
                <button class="button" @click="isSignUp = !isSignUp">
                  <span v-if="isSignUp"> Have an account? Log in instead </span>
                  <span v-else> Create a new account </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </NuxtLayout>
</template>